/**
 * Additional css to make the form more beautiful. 
 * 
 */

/* For R5 we want the label to show more clearly 
   the deactivated state of its checkbox */
.activities .label--inactive {
    color: grey;
}

/* For R6 we need a display for the total cost. */
.totalCost {
    border-top: 1px dashed #679cb3;
    font-size: 1.30em;
    padding-top: 15px;
    text-align: right;
}

.totalCost__label {
    color: black;
}

.totalCost__cost {
    color: green;
    font-weight: bold;
}
